<!DOCTYPE HTML>
<html>
<head>
	<title>Book Vault</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/29e6464377.css">
	<script src="scripts/all.js"></script>
</head>
<body>
	<div class="menu">
		<div class="container">
			<div class="flex-wrapper">
				<h2>All Books</h2>
				<div class="button-wrapper">
					<a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
					<a href="/dashboard"><i class="fa fa-sliders fa-2x" aria-hidden="true"></i></a>
					<a href="/profile"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a>
					<a href="/logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="start">
		<div class="container">
			<!-- It is checked to see if there are any books in the books collection. -->
			<% if (allUsersBooks.length == 0) { %>
			<p>Users don't seem to like reading... None of them has added any! Be the first to add a book from your dashboard.</p>
			<% } else { %>
			<p>Here is a list of all the books added by our users. Take a look... if you like something you can request a trade with the owner.</p>
			<div class="dashboard-books">
				<!-- A div is inserted for each book found in the database. -->
				<% for (var book in allUsersBooks) { %>
				<div class=dashboard-book>
				<!-- The isbn of each book is hidden. But needed for back end communication. -->
				<input type="hidden" value=<%= allUsersBooks[book].isbn %>>
				<button class="dashboard-more-info">More info</button>
				<% if (user.books.indexOf(allUsersBooks[book].isbn) == -1) { %>
				<button class="trade">Trade</button>
				<% } else { %>
				<button class="you-own-it-button">You own it</button>
				<% } %>
				<img src=<%= allUsersBooks[book].image %>>
				<p><%= allUsersBooks[book].title %></p>
				</div>
				<% } %>
			</div>
			<% } %>
		</div>
	</div>

	<div class="more-info">
	</div>

	<div class="footer">
		<hr/>
		<div class="container">
			<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
			<p>Visit my pages:</p>
			<ul class="pages">
				<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
				<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
				<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
			</ul>
			<span style="font-size:0.9em">Copyright © Book Vault 2016. All Rights Reserved</span>
		</div>
	</div>
	<script>
		/* These are saved to be used in scripts/all.js. Has to be stringified or an error will occur. */
		var csrfToken = <%- JSON.stringify(csrfToken) %>;
		var allUsersBooks = <%- JSON.stringify(allUsersBooks) %>;
		var user = <%- JSON.stringify(user) %>;
	</script>
</body>
</html> 