<!DOCTYPE HTML>
<html>
<head>
	<title>Book Vault</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/29e6464377.css">
	<script src="scripts/dashboard.js"></script>
</head>
<body>
	<div class="menu">
		<div class="container">
			<div class="flex-wrapper">
				<h2>Dashboard</h2>
				<div class="button-wrapper">
					<a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
					<a href="/all"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>
					<a href="/profile"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a>
					<a href="/logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="start">
		<div class="container">
			<p><i><%= user.name %>,</i></p>
			<p>This is your dashboard, here you can add a new book, check the status of sent and received book trading requests, and view a list of all your added books.</p>
		</div>
	</div>

	<div class="start">
		<div class="container">
			<p>Enter a book's title and author (optional) below to add it to your vault:</p>
			<form id="add-book-form">
				<input type="hidden" name="_csrf" value=<%= csrfToken %>>
				<input id="title" type="text" name="book" placeholder="Title" required><br/>
				<input id="author" type="text" name="author" placeholder="Author - optional"><br/>
				<button class="generic-button" type="submit">Search</button>
			</form>
		</div>
	</div>
	<!-- Requests section. -->
	<div class="start">
		<div class="container">
			<!-- Incoming requests section. -->
			<h4 class="requests-section-header">Incoming trading requests history:</h4>
			<!-- A check is made to see if the user has any incoming requests. --> 
			<% if (user.incomingRequests.length == 0) { %>
			<p>You have no incoming requests... Maybe your books are boring! Shake your vault up and add some interesting books.</p>
			<% } else { %>
			<!-- If requests are found, the following is added to the page. -->
			<div class="requests-div">
				<% for (var request in userRequests) { %>
				<% if (userRequests[request].requestedFrom.email == user.email) { %>
				<div class="dashboard-book">
					<!-- The requestID and other user's email are hidden. Needed to simplify database look up. -->
					<input type="hidden" id="requestID" value=<%= userRequests[request].requestID %>>
					<input type="hidden" id="otherUser" value=<%= userRequests[request].requestedBy.email %>>
					<!-- Request status is checked. -->
					<% if (userRequests[request].status == "Pending") { %>
					<p class="pending">Request pending</p>
					<button class="request-action approve-request" value="approve">Approve</button>
					<button class="request-action decline-request" value="decline">Decline</button>
					<% } else if (userRequests[request].status == "Approved") { %>
					<p class="approved">Request Approved</p>
					<!-- A button to show the other user's address. -->
					<button class="address-button"><%= userRequests[request].requestedBy.name %>'s address</button>
					<!-- A link to email the other user. -->
					<a href="mailto:<%= userRequests[request].requestedBy.email %>"><button class="email-button">Email <%= userRequests[request].requestedBy.name %></button></a>
					<% } else if (userRequests[request].status == "Declined") { %>
					<p class="denied">Request Declined</p>
					<% } else if (userRequests[request].status == "Request unavailable*") { %>
					<p class="address-button">Request Unavailable</p>
					<% } %>
					<p><strong>Requested book:</strong> <i><%= userRequests[request].requestedBook.title %></i></p>
					<p><strong>Requested by:</strong> <i><%= userRequests[request].requestedBy.name %></i></p>
					<p><strong>Trade with: </strong><i><%= userRequests[request].tradedBook.title %></i></p>
				</div>
				<% } %>
				<% } %>
			</div>
			<% } %>

			<hr/ style="margin: 10px 0 10px 0;">
			<!-- Same as incoming requests section, but for outgoing requests. -->
			<h4 class="requests-section-header">Outgoing trading requests history:</h4>
			<% if (user.outgoingRequests.length == 0) { %>
			<p>You have no outgoing requests... Maybe you don't like reading books as much as you thought! Prove us wrong and request a trade.</p>
			<% } else { %>
			<div class="requests-div">
				<% for (var request in userRequests) { %>
				<% if (userRequests[request].requestedBy.email == user.email) { %>
				<div class="dashboard-book">
					<input type="hidden" id="requestID" value=<%= userRequests[request].requestID %>>
					<input type="hidden" id="otherUser" value=<%= userRequests[request].requestedFrom.email %>>
					<% if (userRequests[request].status == "Pending") { %>
					<p class="pending">Request pending</p>
					<button class="request-action cancel-request" value="cancel">Cancel request</button>
					<% } else if (userRequests[request].status == "Approved") { %>
					<p class="approved">Request Approved</p>
					<button class="address-button"><%= userRequests[request].requestedFrom.name %>'s address</button>
					<a href="mailto:<%= userRequests[request].requestedFrom.email %>"><button class="email-button">Email <%= userRequests[request].requestedFrom.name %></button></a>
					<% } else if (userRequests[request].status == "Declined") { %>
					<p class="denied">Request Declined</p>
					<% } else if (userRequests[request].status == "Request unavailable*") { %>
					<p class="address-button">Request Unavailable</p>
					<% } %>%>
					<p><strong>Requested book:</strong> <i><%= userRequests[request].requestedBook.title %></i></p>
					<p><strong>Requested from:</strong> <i><%= userRequests[request].requestedFrom.name %></i></p>
					<p><strong>Trade with: </strong><i><%= userRequests[request].tradedBook.title %></i></p>
				</div>
				<% } %>
				<% } %>
			</div>
			<% } %>
			<p>* Unavailable requests occur when a pending request has one of its book deleted by ots owner.</p>
		</div>
	</div>
	<!-- Your books section. -->
	<div class="start">
		<div class="container">
			<p>Your books:</p>
			<!-- Check is made to see if the user has any books. -->
			<% if (userBooks.length == 0) { %>
			<p>You still haven't added any books.</p>
			<% } else { %>
			<div class="dashboard-books">
				<!-- For each book the user owns, a div is added. -->
				<% for (var book in userBooks) { %>
				<div class="dashboard-book">
					<input type="hidden" class="dashboard-book-isbn" value=<%= userBooks[book].isbn %>>
					<a href=<%= userBooks[book].link %> target="blank"><button class="dashboard-more-info">More info</button></a>
					<button class="delete-book">Delete</button>
					<img src=<%= userBooks[book].image %>>
					<p><%= userBooks[book].title %></p>
				</div>
				<% } %>
				<% } %>
			</div>
		</div>
	</div>
	<!-- This div is where the book search results are displayed. Initially empty and hidden, populated by javascript when search is performed. -->
	<div id="search-results">
	</div>
	<!-- This div shows the address of the other user when the request is accepted. Populated when address is requested. -->
	<div class="address-div">
	</div>
	<!-- Footer section. -->
	<div class="footer">
		<hr/>
		<div class="container">
			<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
			<p>Visit my pages:</p>
			<ul class="pages">
				<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
				<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
				<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
			</ul>
			<span style="font-size:0.9em">Copyright © Book Vault 2016. All Rights Reserved</span>
		</div>
	</div>
	<script>
		var csrfToken = <%- JSON.stringify(csrfToken) %>;
	</script>
</body>
</html> 